starter-pack/reference-bot/java/target/command.txt
starter-pack/reference-bot/java/target/state.json
starter-pack/reference-bot/java/target/textMap.txt
starter-pack/starter-bots/java/.idea/workspace.xml
starter-pack/starter-bots/java/target/command.txt
starter-pack/starter-bots/java/target/state.json
starter-pack/starter-bots/java/target/textMap.txt
